.top{
  
  background-image: url(./Assets/Path\ 246.png), url(./Assets/Group\ 25.png)  ;
  padding-top: 0px;
  background-repeat: no-repeat,no-repeat;
  margin: 0px;
  height:800px ;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: -15px;
  margin-left: -17px;
 
  background-size: 1050px,600px;
  background-origin: margin-box,padding-box;
  background-position-y: 0%,60%;
 background-position-x: 0%,90%;

}
@media (max-width:500px){
  .top{
  background-image: url(./Assets/Path\ 246.png), url(./Assets/Group\ 25.png)  ;
  padding-top: 0px;
  background-repeat: no-repeat,no-repeat;
  margin: 0px;
  height:800px ;
  width:177%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: -15px;
  margin-left: -17px;
 
  background-size: 650px,400px;
  background-origin: margin-box,padding-box;
  background-position-y: 0%,37%;
 background-position-x: 0%,90%;
  }

}